# Copyright (c) 2026 YI JIN <jinyi_2001@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

config GPIO_YTM32
	bool "YTMicro YTM32 GPIO driver"
	default y
	depends on GPIO
	depends on HAS_YTMICRO_HAL
	depends on DT_HAS_YTMICRO_YTM32_GPIO_ENABLED
	help
	  Enable GPIO driver for YTMicro YTM32 series MCUs.
