/*
 * Copyright (c) 2026 YI JIN <jinyi_2001@foxmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

#ifndef YTM32B1MC0_PINCTRL_H_
#define YTM32B1MC0_PINCTRL_H_

/*
 * Pinmux macro for YTM32.
 * The value is structured as follows:
 * - Bits 28-31: Port (0=PTA, 1=PTB, 2=PTC, 3=PTD, 4=PTE)
 * - Bits 24-27: Pin (0-31)
 * - Bits 0-3:   Mux (0-7)
 */
#define YTM32_PINMUX(port, pin, mux) \
	((((port) & 0xF) << 28) | \
	 (((pin) & 0x1F) << 24) | \
	 (((mux) & 0xF) << 0))

/* Port Definitions for macro */
#define YTM32_PORTA 0
#define YTM32_PORTB 1
#define YTM32_PORTC 2
#define YTM32_PORTD 3
#define YTM32_PORTE 4

#endif /* YTM32B1MC0_PINCTRL_H_ */
