# AS5047P Angular position sensor configuration option

# Copyright (c) 2026 YI JIN <jinyi_2001@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

config AMS_AS5047P
	bool "AMS AS5047P magnetic angle sensor"
	default y
	depends on DT_HAS_AMS_AS5047P_ENABLED
	select SPI
	help
	  Enable driver for the AMS AS5047P magnetic rotary encoder. The driver
	  supports reading the absolute angle via the SPI interface.
