/*
 * Copyright (c) 2026 YI JIN <jinyi_2001@foxmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <ytmicro/ytm32/ytm32b1mc0.dtsi>
#include <zephyr/dt-bindings/pinctrl/ytm32-pinctrl.h>

/ {
    model = "YTM YTM32 EVB";
    compatible = "ytm,ytm32-evb";

    chosen {
        zephyr,sram = &sram0; 
        zephyr,flash = &flash0;
        zephyr,console = &uart1;
        zephyr,shell-uart = &uart1;
    };
};

&pinctrl {
    uart1_default: uart1_default {
        group1 {
            pinmux = <YTM32_PTC8_UART1_RX>,
                     <YTM32_PTC9_UART1_TX>;
        };
    };
};

&uart1 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};