# Copyright (c) 2026 YI JIN <jinyi_2001@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_YTM32
	bool "YTM32 pin controller driver"
	default y
	depends on DT_HAS_YTMICRO_YTM32_PINCTRL_ENABLED
	help
	  Enable the YTM32 pin controller driver.
